*{box-sizing:border-box}

body {
    margin:0;
    padding:0;
    background-color:#eee;
    -webkit-text-size-adjust:none;
    text-size-adjust:none
}

a[x-apple-data-detectors] {
    color:inherit!important;
    text-decoration:inherit!important
}

#MessageViewBody a {
    color:inherit;
    text-decoration:none
}

p{
    line-height:inherit;
    color:#000;
}

.subtitle {
    font-weight: bold;
    padding-left:30px;
    padding-right:30px;
    font-size:30px;
    line-height:1;
    text-align:center;
    direction:ltr;
    font-weight:400;
    margin-top:0;
    margin-bottom:0;
    letter-spacing: 0.5px;
    color:#235e99;
    font-family:'Bodoni Moda',Helvetica Neue,Helvetica,sans-serif
}

.desktop_hide,.desktop_hide table {
    display:none;
    max-height:0;
    overflow:hidden
}


@media (max-width:660px){
    .desktop_hide table.icons-inner{
        display:inline-block!important
    }
    
    .icons-inner{
        text-align:center
    }
    
    .icons-inner td{
        margin:0 auto
    }
    
    .image_block img.big,.row-content{
        width:100%!important
    }
        
    .mobile_hide{
        display:none
    }
    
    .stack .column{
        width:100%;
        display:block
    }
    
    .mobile_hide{
        min-height:0;
        max-height:0;
        max-width:0;
        overflow:hidden;
        font-size:0
    }
    
    .desktop_hide,.desktop_hide table{
        display:table!important;
        max-height:none!important
    }
    
    .reverse{
        display:table;
        width:100%
    }
    
    .reverse .column.first{
        display:table-footer-group!important
    }
    
    .reverse .column.last{
        display:table-header-group!important
    }
    
    .row-7 td.column.first>table,.row-7 td.column.last>table{
        padding-left:0;
        padding-right:0
    }
    
    .row-7 td.column.first .border,.row-7 td.column.last .border{
        border-top:0;
        border-right:0;
        border-bottom:0;
        border-left:0
    }
}
.base-column {
    font-weight:400;
    text-align:left;
    vertical-align:top
} 


.txtTinyMce-wrapper {
    font-size:12px;
    font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;
    color:#2b2d49;
    line-height:1.5
}

#soustitre {
    margin:20px;
    text-align:center;
    color:#235e99;
    font-size:20px;
    line-height:1.2
}

hr {
    width:50%;
    color:#235e99
}

.alignment {
    vertical-align: middle;
}

a.directions {
    text-decoration:none;
    display:inline-block;
    color:#1e1f27;
    background-color:transparent;
    border-radius:9px;
    width:auto;
    border-top:2px solid #235e99;
    font-weight:undefined;
    border-right:2px solid #235e99;
    border-bottom:2px solid #235e99;
    border-left:2px solid #235e99;
    padding-top:5px;
    padding-bottom:5px;
    font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;
    text-align:center;
    word-break:keep-all;
    padding-left:20px;
    padding-right:20px;
    font-size:16px;
    display:inline-block;
    letter-spacing:2px;
}

a.directions:hover {
    color: white;
    background-color:#235e99;
}

.footnote {
    margin:0;
    text-align:center;
    font-size:14px;
    font-family:Lato,Tahoma,Verdana,Segoe,sans-serif;
    color:#4a4a4a;
    line-height:1.2
}
